body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,th,td {
	margin:0;
	padding:0
}
body {
	line-height:2em;
	background-color:#fff
}
body,button,input,select,textarea {
	font-family:  "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
h1 {
	font-size:18px
}
h2 {
	font-size:16px
}
h3 {
	font-size:14px
}
h4,h5,h6 {
	font-size:100%
}
h1,h2,h3,h4,h5,h6,strong,b {
	font-weight:normal
}
address,cite,dfn,var {
	font-style:normal
}
code,kbd,pre,samp,tt {
	font-family:"Courier New",Courier,monospace
}
small {
	font-size:12px
}
ul,ol {
	list-style:none
}
a {
	text-decoration:none;
	cursor:pointer;
	color:#0e7ac3;
	outline:0
}
a:hover {
	text-decoration:none
}
abbr[title],acronym[title] {
	border-bottom:1px dotted;
	cursor:help
}
em {
	font-style:normal
}
q:before,q:after {
	content:''
}
legend {
	color:#000
}
fieldset,img {
	border:0
}
button,input,select,textarea {
	font-size:100%
}
textarea {
	width:100%
}
textarea:focus {
	outline:0
}
hr {
	border:0;
	height:1px
}
html {
	overflow-y:scroll
}
.scroll {
	overflow:hidden
}
button {
	border:0;
	color:#fff
}
.left {
	float:left
}
button:focus {
	border:0;
	outline:0
}
input:focus {
	outline:0
}
input[type="text"]:focus,input[type="password"]:focus {
	border-color:rgba(82,168,236,0.8);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	transition:border linear .2s,box-shadow linear .2s
}
.right {
	float:right
}
.simsun {
	font-family:"simsun"
}
.i-block {
	display:inline-block;
	zoom:1;
	_display:inline
}
.roundness {
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	behavior:url("/front/css/iecss3.htc")
}
.clearfix:after,.data-toggle-tab:after,.control-group:after {
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both
}
.blod {
	font-weight:600
}
.clearfix,.data-toggle-tab,.control-group {
	zoom:1
}
.control-group td {
	text-align:left
}
.clearit {
	clear:both;
	height:0;
	font-size:0;
	overflow:hidden
}
.login-body .none,body .none {
	display:none
}
.span1,.span2,.span3,.span4.span5,.span6,.span7,.span8,.span9,.span10 {
	float:left
}
.span1 {
	width:10%
}
.span2 {
	width:20%
}
.span3 {
	width:30%
}
.span4 {
	width:40%
}
.span5 {
	width:50%
}
.span6 {
	width:60%
}
.span7 {
	width:70%
}
.span8 {
	width:80%
}
.span9 {
	width:90%
}
.span10 {
	width:100%
}
.col1 {
	width:8.333%
}
.col2 {
	width:16.66%
}
.col3 {
	width:25%
}
.col4 {
	width:33.33%
}
.col5 {
	width:41.66%
}
.col6 {
	width:50%
}
.col7 {
	width:58.33%
}
.col8 {
	width:66.66%
}
.col9 {
	width:75%
}
.col10 {
	width:83.33%
}
.col11 {
	width:91.66%
}
.col12 {
	width:100%
}
.live-inner {
	margin:0 auto;
	width:1000px
}

.step{
	margin: 0 auto;
	width: 1000px;
}
.simsun{
	font-family: "simsun";
}

/*ui*/
.btn{
	display: inline-block;
	zoom: 1;
	_display: inline;
	text-align: center;
	color: #fff;
}

/*footer*/
.footer-top{
	height: 167px;
	background: url("../images/footer_t_03.png") no-repeat 372px 76px;
}
.footer-mid-box{
	padding-top: 88px;
	height: 114px;
	background-color: #f1f1f1;
}
.footer-mid ul{
	padding-left: 12px;
	padding-top: 13px;
}
.footer-mid ul li{
	float: left;
	height: 15px;
	line-height: 15px;
	background: url("../images/footer_map_03.png") no-repeat;
}
.footer-mid .first{
	background: none;
}
.footer-mid ul li a{
	padding: 0 22px;
	color: #707070;
}
.footer-mid ul li a:hover{
	color: #050505;
}
.footer .share p{
	float: left;
	width: 46px;
	height: 46px;
	background-color: #f8f8f8;
	border-radius: 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}
.footer .share .sina{
	margin-right: 43px;
	background-image: url("../images/footer_share_03.png");
	background-position: 8px 9px;
}
.footer .share .tel{
	margin-right: 37px;
	background-image: url("../images/footer_share_03.png");
	background-position: 11px -35px;
}
.footer .tel,.footer .sina{
	box-shadow: 0 1px 0 0 #e7e6e6;
}
.footer p.point {
	margin-right: 27px;
	background-color: #f1f1f1;
	background-image: url("../images/footer_share_03.png");
	background-position:0 -80px;
	cursor: default;
}
.footer .footer-mid li{
	position: relative;
}
.weixin{
	position: absolute;
	top: -158px;
	left: -7px;
	width: 138px;
	height: 158px;
	z-index: 100;
	background: url("../images/weixin_03.png") no-repeat;
}
.weinxin-inner{
	margin: 14px 0 0 014px;
}
.footer{
	background-color: #fff;
}
.footer-b{
	height: 105px;
	line-height: 105px;
	text-align: center;
	background-color: #9a9c99;
}
.footer-b a{
	color: #f8f8f8;
}
.link-buy-box div{
	float: left;
	width: 186px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #cecfce;
}
.product-main .link-buy{
	background-color: #95d462;
	border: 1px solid #95d462;
	color: #fff;
}
.product-main .link-buy:hover{
	background-color: #57A815;
}
.product-main .link-look{
	margin-right: 10px;
	color: #000;
}
.product-main .link-look:hover{
	background-color: #F9F9F9;
}
.commodity{
	padding: 80px 0 77px 57px;
}
.commodity .first{
	padding-right: 57px;
	background: url("../images/line_03.png") no-repeat right 66px;
}
.commodity .even{
	padding-left: 56px; 
}
.commodity-screen2{
	padding-top: 70px;
	height: 770px;
	background-image: url("../images/screen2_02.jpg");
}
.commodity-screen2 h2{
	height: 92px;
	background: url("../images/screen2_t_03.png") no-repeat center top;
}
.body-shade{
  	position: fixed;
  	_position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background-color: #111;
  	width: 100%;
  	height: 100%;
  	z-index: 1000;
  	filter: alpha(opacity=50);
  	opacity: .5;
  	_top: expression(eval(document.documentElement.scrollTop));
  	_height: expression(eval(document.body.clientHeight));
	
}
.add-adress{
	width: 827px;
	height: 510px;
	border: 1px solid #bcc0b1;
	position: fixed;
	z-index: 1010;
	top: 18%;
	left: 50%;
	margin-left: -414px;
	background-color: #fff;
}
.add-adress .head{
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
	background-color: #f3f3f3;
	border-bottom: 1px solid #ccc;
}
.address-inner{
	padding-left: 30px;
	padding-top: 28px;
}
.address-inner h3{
	height: 43px;
	line-height: 43px;
	font-weight: normal;
}
.address-inner h3 span{
	color: red;
}
.address-inner input{
	height: 34px;
	line-height: 34px;
	border: 1px solid #d8d8d8;
	border-radius: 2px;
}
.address-v{
	width: 278px;
}
.add-adress select{
	margin-right: 15px;
	width: 88px;
}
.address-v-m{
	width: 598px;
}
.add-adress .phone,.add-adress .tel{
	width: 278px;
}
.add-adress .save{
	margin-top: 55px;
	width: 142px;
	height: 34px;
	border-radius: 2px;
	background-color: #f5f3f4;
	cursor: pointer;
}
.add-adress .close{
	margin-top: 7px;
	margin-right: 7px;
	width: 16px;
	height: 16px;
	background:url("../images/close_03.png") no-repeat;
	cursor: pointer;
}
.top-nav{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
}
.top-shade{
	height: 60px;
	background-color: #111;
	opacity: .5;
}
.top-inner{
	position: relative;
	margin-top: -60px;
	height: 60px;
}
.top-inner li{
	float: left;
	padding: 0 17px;
	height: 60px;
	line-height: 60px;
}
.top-inner li a{
	color: #fff;
}
.top-inner ul{
	padding-left: 362px;
}
.top-link-buy{
	margin-left: 15px;
	margin-top: 16px;
	width: 114px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	color: #fff;
	background-color: #7dc420;
	border-radius: 4px;
}
.shopping-cart, .shopping-toggle{
	height: 60px;
}
.shopping-cart{
	margin-left: 38px;
	width: 54px;
	background: url("../images/top_buy_03.png") no-repeat 0 16px;
}
.shopping-toggle{
	margin-left: 44px;
	width: 34px;
	background: url("../images/book_03.png") no-repeat 0 -4px;
	cursor: pointer;
}
.top-inner .active{
	background: url("../images/top_right_06.png") no-repeat 0 -4px;
}
.shopping-cart p{
	margin-top: 14px;
	margin-left: 26px;
	width: 22px;
	height: 21px;
	line-height: 22px;
	text-align: center;
	border-radius: 50%;
	background-color: #95d561;
}
